.rendring{
    display: grid;
    grid-template-areas: 
    'rendring-top  rendring-top rendring-top rendring-top rendring-top rendring-slider'
    'rendring-bottom rendring-bottom rendring-bottom rendring-bottom rendring-bottom rendring-slider'
    ;
    margin-bottom: 205px;

    @media (max-width: 1025px) {
        justify-items: center;
        grid-template-areas: 
    'rendring-top  rendring-top rendring-top'
    'rendring-slider rendring-slider rendring-slider'
    'rendring-bottom rendring-bottom rendring-bottom'
    ;
    margin-bottom: 118px;
    }
    @media (max-width: 500px) {
        justify-items: flex-start;
    }
    &__top{
        &-box{
            margin-bottom: 50px;
            grid-area: rendring-top;
            width: 79%;
            @media (max-width: 415px) {
                width: 56%;
            }
        }
        &-h1{
            font-weight: 550;
            font-size: 60px;
            line-height: 66px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #303030;
            margin-bottom: 30px;

            @media (max-width: 1185px) {
                font-size: 45px;
                line-height: 51px;
            }
            @media (max-width: 500px) {
                font-size: 30px;
                line-height: 36px;
            }
            span{
                font-style: italic;
                font-weight: 300;
            }
        }
        &-p{
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: #303030;

            @media (max-width: 1185px) {
                font-size: 16px;
                line-height: 24px;
            }
            @media (max-width: 1065px) {
                font-size: 14px;
                line-height: 22px;
            }
            @media (max-width: 500px) {
                font-size: 13px;
                line-height: 21px;
            }
        }
    }
    &-slider{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 23px;
        grid-area: rendring-slider;
        transform: translateX(-20px);
        max-width: 520px;
        @media (max-width: 1025px) {
            margin-bottom: 30px;
        }
        @media (max-width: 630px) {
            padding-left: 63px;
        }
        @media (max-width: 500px) {
            padding-left: 20px;
        }
        &-container{
            overflow-x: hidden;
            margin-bottom: 23px;
        }
        &-box{
            display: flex;
            flex-shrink: 0;
            align-items: center;
            transition: all 0.5s linear;
        }
        &-arrows{
            display: flex;
            gap: 32px;
        }
        &-item{
            z-index: 111;
        }
    }
    &__img{
        max-width: 520px;
        max-height: 520px;

        @media (max-width: 1185px) {
            max-width: 400px;
            max-height: 400px;
        }
        @media (max-width: 1065px) {
            max-width: 350px;
            max-height: 350px;
        }
        @media (max-width: 630px) {
            max-width: 280px;
            max-height: 280px;
        }
    }
    &__bottom{
        &-box{
            grid-area: rendring-bottom;
            width: 106%;

            @media (max-width: 1185px) {
                width: 94%;
            }
            @media (max-width: 1025px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            @media (max-width: 415px) {
                width: 74%;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
        &-subtitle{
            background: linear-gradient(89.68deg, #FBFBFB 49.07%, rgba(251, 251, 251, 0) 97.72%);
            padding: 22px 47px;
            transform: translateX(-45px);
            p{
                font-style: italic;
                font-weight: 700;
                font-size: 24px;
                line-height: 35px;
                color: #303030;
                @media (max-width: 1185px) {
                    font-size: 20px;
                    line-height: 31px;
                }
                @media (max-width: 1065px) {
                    font-size: 17px;
                    line-height: 28px;
                }
                @media (max-width: 500px) {
                    font-size: 15px;
                    line-height: 26px;
                }
            }
        }
    }
    
}
.rendring__prev,
.rendring__next{
    cursor: pointer;
    border: none;
    background-color: transparent;
    &:disabled{
        path{
            fill: #8C8C8C;
        }
        
    }
}